# ── Python ────────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ── Django ────────────────────────────────────────────────────────────────────
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# ── Entorno virtual ───────────────────────────────────────────────────────────
.venv/
venv/
env/
ENV/

# ── Variables de entorno — NUNCA subir ───────────────────────────────────────
.env

# ── IDEs ─────────────────────────────────────────────────────────────────────
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ── OS ───────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db