{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'css/base_admin.css' %}">
<link rel="stylesheet" href="{% static 'css/layout_admin.css' %}">
<link rel="stylesheet" href="{% static 'css/navigation_admin.css' %}">
<link rel="stylesheet" href="{% static 'css/components_admin.css' %}">
<link rel="stylesheet" href="{% static 'css/overrides_admin.css' %}">

{% endblock %}

{% block extrahead %}
{{ block.super }}

<script src="{% static 'js/custom_admin.js' %}"></script>

{% endblock %}


{% block userlinks %}
<div style="display:flex; align-items:center; gap:10px;">

    <span>BIENVENIDO/A, {{ user.username|upper }}.</span>

    <a href="/admin/app/dashboard/" class="btn-dashboard">
        IR AL DASHBOARD KPI
    </a>

    <div class="user-menu-container">

        <button id="user-menu-btn" class="user-icon-btn">👤</button>

        <div id="user-dropdown" class="user-dropdown-content">

            <a href="/">VER EL SITIO</a>

            <a href="/admin/password_change/">
                CAMBIAR CONTRASEÑA
            </a>

            <form action="/admin/logout/" method="post">
                {% csrf_token %}
                <button type="submit" class="logout-btn">
                    Terminar sesión
                </button>
            </form>

        </div>

    </div>

</div>
{% endblock %}
